# Python cache files
__pycache__/
*.py[cod]

# Environment variables file (if you're using one)
.env

# Local settings and configurations
*.local

# IDE configurations
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other temporary files
*.tmp
*.log
